.head {
  padding-top: 40px !important;
  margin: 0 !important;
  height: 19vh;
}
.textWrapper {
  margin: 0 !important;
  height: 24vh;
}
.form {
  margin: 0 !important;
  height: 43vh;
}
.footer {
  margin: 0 !important;
  height: 12vh;
}

.inputWrapper {
  position: relative;
}
.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 5;
  font-size: 2px !important;
}
.fieldWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text {
  padding-top: 16px;
  padding-bottom: 24px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #828282;
}
.button {
  opacity: 0.5 !important;
}
.buttonImit {
  color: #fff !important;
  background: linear-gradient(
    92.06deg,
    #a9f879 -26.92%,
    #75e431 -0.5%,
    #44c746 35.17%,
    #00964e 97.92%
  ) !important
  ;
}
