.textWrapper {
  margin: 0 !important;
  height: 26vh !important;
  display: flex;
  align-items: flex-end;
}
.checkboxWrapper {
  padding-top: 35px !important;
  margin: 0 !important;
  height: 64vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.footer {
  margin: 0 !important;
}

.text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.4px;
  color: #333333;
}

.checkboxWrapper label {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  background-color: #f8f9fa;
  border-radius: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  color: #333333;
}
.checkboxWrapper input {
  display: none;
}
.checkboxWrapper span {
  display: block;
  width: 20px;
  height: 20px;
  margin: 18px;
}
.footerButton {
  width: 100%;
  color: #fff !important;
  background: linear-gradient(
    92.06deg,
    #a9f879 -26.92%,
    #75e431 -0.5%,
    #44c746 35.17%,
    #00964e 97.92%
  ) !important
  ;
}
