.contentTop {
  height: 35%;
}
.contentBottom {
  height: 35%;
}
.textContainer {
  height: 100%;
  display: flex;
  align-items: center;
}
.textContainer p {
  width: 100%;
  display: block;
  text-align: center;
}
.inputWrapper {
  position: relative;
}
.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 5;
  font-size: 2px !important;
}
.fieldWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fieldWrapper div {
  margin-left: 8px;
  margin-right: 6px;
}

.button {
  opacity: 0.5 !important;
}

.buttonImit {
  color: #fff !important;
  background: linear-gradient(
    92.06deg,
    #a9f879 -26.92%,
    #75e431 -0.5%,
    #44c746 35.17%,
    #00964e 97.92%
  ) !important
  ;
}
